<main class="index fondo">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Medipat informes</h1>
            <h3 class="mb-5">
                <em>Sistema de gestion de informes</em>
            </h3>
            <a href="/informes" class="btn btn-primary">
                Empecemos!
            </a>
        </div>
    </header>
</main>