<main class="index">
    <header class="fondo d-flex">
        <div class="container text-center my-auto">
            <h1 class="mt-10">PROCESOS</h1>
            <div class="row mb-4">
                <div class="col-4 themed-grid-col">
                    <a class="panel-item" href="/pacientes">
                        <i class='fas fa-address-book fa-4x'></i>
                        <p class="panel-item-text">Pacientes</p>
                    </a>
                </div>
                <div class="col-4 themed-grid-col">
                    <a class="panel-item" href="/entidades">
                        <i class='fas fa-asterisk fa-4x'></i>
                        <p class="panel-item-text">Entidades</p>
                    </a>
                </div>
                <div class="col-4 themed-grid-col">
                    <a class="panel-item" href="/eps">
                        <i class="fas fa-building fa-4x"></i>
                        <p class="panel-item-text">E.P.S.</p>
                    </a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4 themed-grid-col">
                    <a class="panel-item" href="/patologos">
                        <i class='fa fa-id-badge fa-4x'></i>
                        <p class="panel-item-text">Patologos</p>
                    </a>
                </div>
                <div class="col-4 themed-grid-col">
                    <a class="panel-item" href="/informes/tipo_informe">
                        <i class="fas fa-notes-medical fa-4x"></i>
                        <p class="panel-item-text">Informes</p>
                    </a>
                </div>
                <div class="col-4 themed-grid-col">
                    <a class="panel-item" href="/liquidacion/solicitar/">
                        <i class="far fa-file-alt fa-4x"></i>
                        <p class="panel-item-text">Liquidaciones</p>
                    </a>
                </div> 
            </div>
            <div class="row mb-4">
                <div class="col-4 themed-grid-col">
                    <a class="panel-item" href="/cups/lista">
                        <i class='fab fa-codiepie fa-4x'></i>
                        <p class="panel-item-text">CUPS</p>
                    </a>
                </div>
            </div>
        </div>
    </header>
</main>