<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDIPAT App</title>
    {{!-- GOOGLE FONTS --}}
    {{!--<link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet">--}}
    {{!-- BOOTSTRAP4 --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- Styles --}}
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    {{!-- pretty checkbox --}}
    <link rel="stylesheet" href="/css/pretty-checkbox.min.css">
    <!--<link rel="stylesheet" type="text/css" href="https://unpkg.com/css-tooltip">-->

</head>

<body class="fondo worksans">

    {{> navigation }}

    {{> message }}

    {{{ body }}}

    {{!-- SCRIPTS --}}
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>


</body>

</html>